.App {
  min-height: 100vh;
  padding-top: 10vh;
  background-color: #692fa5;
  text-align: center;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #928dbc;
}
